*{
	box-sizing: border-box;
}
body{
	background-color: black;
}
#contenedor{
	width: 80%;
	margin: 0 auto;
}
#contenedor header img{
	max-height: 200px;
	width: 100%;
}
#contenedor #contenido{
	width: 100%;
}
#contenedor #contenido nav{
	width: 20%;
	position: fixed;
	top: 40%;
	left: 10%;
	background-color: rgb(60, 46, 25);
}
#contenedor #contenido main{
	width: 50%;
	position: absolute;
	top: 40%;
	left: 20%;
	text-align: justify;
	font-family: Verdana;
	padding: 2em;
	background-color: rgb(60, 46, 25);
}
#contenedor #contenido aside{
	width: 20%;
	position: fixed;
	top: 40%;
	left: 69.6%;
	background-color: rgb(60, 46, 25);
}
#contenedor #contenido aside .anuncio{
	width: 90%;
	margin: 1em auto;
	border: 5px solid orange;
}
#contenedor #contenido aside .anuncio img{
	width: 100%;
}
#contenedor #contenido main img{
	margin: 1em auto;
	position: relative;
	bottom: 1px;
	top:30%;
	max-height: 300px;
	

}