*{
	box-sizing: border-box;
}
body{
	background-image: url("../IMG/fondo1.jpg");
	background-size: contain;
	
}
#contenedor{
	width: 80%;
	margin: 0 auto;
}
#contenedor header img{
	width: 100%;
}
#contenedor #contenido{
	width: 100%;
}
#contenedor #contenido nav{
	width: 9.5%;
	position: fixed;
	top: 31%;
	left: 10.5%;
	background-color: rgb(30, 46, 25);

}
#contenedor #contenido main{
	width: 50%;
	position: absolute;
	top: 31%;
	left: 20%;
	text-align: justify;
	font-family: Verdana;
	padding: 2em;
	background-color: rgba(60, 46, 25, 0.5);
}
#contenedor #contenido main #carrusel{
	width: 100%;
	position: relative;
	text-align: center;
}
#contenedor #contenido main #carrusel #img{
	width: 80%;
}
#contenedor #contenido main #carrusel .flechai{
	width: 5%;
	position: absolute;
	top: 50%;
	left: 1%;
}
#contenedor #contenido main #carrusel .flechad{
	width: 5%;
	position: absolute;
	top: 50%;
	right: 1%;
	background-color: rgba(30, 46, 25, 0.1);

}
#contenedor #contenido aside{
	width: 20%;
	position: fixed;
	top: 31%;
	left: 69.6%;

	background-color: rgb(60, 46, 25);

}
#contenedor #contenido aside .anuncio{
	width: 90%;
	margin: 1em auto;
	border: 5px solid orange;
}
#contenedor #contenido aside .anuncio img{
	width: 100%;
}
#contenedor #contenido main img{
	margin: 1em auto;
	position: relative;
	bottom: 1px;
	top:30%;
	max-height: 300px;
	clear: both;
}

p{
	font-family: 
}

aside{
	border-width: 5px;
	border-color: #000000;
	border-style: solid; 
}

nav{
	border-width: 5px;
	border-color: #000000;
	border-style: solid;


}